page-profil {
  .header{
    background: url("../assets/imgs/header-profile.jpg");
    background-origin: border-box;
    background-size: cover;
    background-position: 30%;
    background-repeat: no-repeat;
    text-align: center;
    padding-bottom: 30px;
  }

  .header #profile-image{
    height: 100px;
    width: 100px;
    border-radius: 100%;
    border: #fff 2px solid;
  }

  .header #username{
    color: #fff;
    font-size: 16px;
    text-transform: capitalize;
    margin-top: 2px;
    margin-bottom: 10px;
    font-weight: lighter
  }

  .header .panel{
    text-align: center;
    margin-bottom: 5px;
    height: 50px;
    padding-top: 20px;
  }

  .header .panel button{
    display: inline;
    text-align: center
  }

  .header .panel .menu-btn,
  .header .panel .cancel-btn{
    background: transparent;
    box-shadow: none;
    color: #43c6ac
  }

  .header .panel .menu-btn{
    display: block;
    float: left;
  }

  .header .panel p{
    display: inline;
    text-align: center;
    margin-top: 5px;
    color: #fff;
    font-size: 16px
    
  }

  .header .panel .cancel-btn{
    display: inline;
    float: right;
    font-size: 20px
  }

  .header #btn-event{
    border: 2.5px solid rgba(255, 255, 255, 0.5);
    width: 100px;
    font-weight: lighter;
  }

  .inputs{
    width: 90%;
    margin: auto;
  }

  .inputs ion-item{
    margin-bottom: 8px !important;
    border-bottom: 1px solid rgb(102, 101, 101) !important
  }

  .inputs ion-item ion-label{
    text-align: center;
  }

  .inputs ion-item ion-label ion-icon{
    color: #43c6ac
  }

  .inputs ion-item ion-input{
    padding-bottom: 0px;
    border: none !important
  }

  .item-md.item-input.ng-invalid.ng-touched:not(.input-has-focus):not(.item-input-has-focus) .item-inner {
    border: none;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.item-md.item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner, .item-md.item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner {
    border: none;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}
}
