page-show-event {

  * {
  -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
  
  ion-content {
    background: linear-gradient(0deg, #eeeef1 0%, white 80%, white 100%);
    padding: 0;
    margin: 0;
  }
  
  ion-navbar, ion-header, .toolbar-background{
    background-color: #161954 !important;
    color: #fff;
  }

  ion-title, .title{
    color: #fff !important;
    margin: 0;
    width: auto;
  }

  ion-slides{
    margin : 0;
    height: 50%;
  }

ion-grid{
  padding : 0 !important;
}

.toolbar-title{
  color: #fff;
  width: 100%;
  text-align: center
}

.name-page{
  color: #fff;
}
.scroll-content{
  margin-top: 0 !important;
}

  .search-btn{
    float: right;
  }
  .slide-zoom {
    height: 100%;
  }

  .slide-title {
    margin-top: 2.8rem;
  }

  .slide-image {
    max-height: 100%;
    max-width: 100%;
    margin: 44px 0 0 0;
    min-width: 100%;
    min-height: 100%;
    padding: 0;
    margin-bottom: 0;
  }
  .swiper-pagination{
    text-align: left;
    margin-left: 5px;
  }

  .swiper-pagination button{
    height: 10px;
    width: 10px;
  }

  .swiper-pagination .swiper-pagination-bullet-active{
    background: #46c6ac;
  }

  .event-info{
    background: red;
    transform:skewX(-20deg);
    margin-left: -20px;
    padding-left: 25px;
    background: rgb(22,25,84);
    background: -moz-linear-gradient(left, rgba(22,25,84,1) 0%, rgba(70,198,172,1) 100%);
    background: -webkit-linear-gradient(left, rgba(22,25,84,1) 0%,rgba(70,198,172,1) 100%);
    background: linear-gradient(to right, rgba(22,25,84,1) 0%,rgba(70,198,172,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#161954', endColorstr='#46c6ac',GradientType=1 );
  }

  .event-desc{
    padding: 10px 20px;
    text-align: justify;
    line-height:20px;
  }
  
  ion-fab{
    top: 42%;
    right: 10%;
  }

  .camera{
    overflow: visible;
    height: 0px;
  }

  .camera button{
    height: 60px;
    width: 60px;
  }

}
