<ion-content padding class="transparent-header">
    <div id="profile-bg" [ngStyle]="{'background-image': 'url(' + user.coverImage +')'}"></div>
    <div id="content">
      <div id="profile-info" padding>
        <img id="profile-image" [src]="user.profileImage">
        <h3 id="profile-name">{{user.name}}</h3>
        <p>{{user.occupation}} &bull; {{user.location}}</p>
        <p class="profile-description">{{user.description}}</p>
        <button ion-button *ngIf="!following" small color="purple" >Follow</button>
        <button ion-button *ngIf="following" class="follow-button" small color="purple" >Following<ion-icon name="checkmark"></ion-icon></button>
      </div>
      <hr/>
      <ion-row class="profile-numbers">
        <ion-col col-4>
          <p>Followers</p>
          <span>{{user.followers}}</span>
        </ion-col>
        <ion-col col-4>
          <p>Following</p>
          <span>{{user.following}}</span>
        </ion-col>
        <ion-col col-4>
          <p>Posts</p>
          <span>{{user.posts}}</span>
        </ion-col>
      </ion-row>
      <div id="posts">
          <ion-avatar (click)="changePicture()">
              <img class="profile-image" [src]="chosenPicture || placeholder" onerror="this.src='assets/imgs/profile.png'" />
              <button ion-button color="danger">Change image</button>
              
          </ion-avatar>
          <button ion-button color="danger" >up image</button>
        <ion-card *ngFor="let post of posts">
          <ion-item>
            <ion-avatar item-start>
              <img [src]="user.profileImage">
            </ion-avatar>
            <h2 class="sticky">{{user.name}}</h2>
            <p>{{post.date}}</p>
          </ion-item>
          <img [src]="post.postImageUrl" >
          <ion-row>
            <ion-col col-3 align-self-center text-center>
              <p>
                {{post.timestamp}}
              </p>
            </ion-col>
          </ion-row>
        </ion-card>
      </div>
    </div>
  </ion-content>
  