page-event-information {
    @import url('https://fonts.googleapis.com/css?family=Kaushan+Script');
    *{
        box-shadow: none;
        border: none !important;
    }
    #event-desc{
        width: 100%;
        height: 100%;
        padding: 0;
    }
    .toolbar-background {
        background: #fff;
        border-color: transparent;
      }
    
      .slide-zoom {
        height: 100%;
      }

    ion-textarea{
        min-height: 100%;
    }
    ion-slide{
        height:100%;
    }

    ion-grid{
        height:100%;
        padding: 0 !important;
        margin: 0 !important;
        display: flex;
        flex-direction: column;
    }

    .steps, .step{
        height:50%;
        width: 100%;
    }

    .steps{
        background: linear-gradient(0deg, rgb(32, 57, 165) 0%,rgba(125,185,232,0) 100%);        text-align: center;
    }

    .steps ion-img{
        background: transparent;
        margin: auto;
        height: 100%;
        width: 100%;
        display: inline-block
    }

    button{
        border: none;
        background: transparent !important;
        box-shadow: none !important;
    }
}