page-home {
  #login-page{
    background: #0d1d38;
    position: relative
  }
    @import url('https://fonts.googleapis.com/css?family=Kaushan+Script');
    @import url('https://fonts.googleapis.com/css?family=Montserrat');
    @import url('https://fonts.googleapis.com/css?family=Monoton');
    $primary-gradient-color-1: rgba(242,189,242,1);
    $secondary-gradient-color-2: rgba(140,218,237,1);
    .circle-one{
      height: 300px;
      width: 300px;
      background: #161954;
      background: linear-gradient(135deg, #43c6ac 0%,#161954 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#161954', endColorstr='#43c6ac',GradientType=1 );
      border-radius: 100%;
      position: relative;
      top: -20%;
      left: -20%;
      -webkit-box-shadow: 0px 0px 40px 0px rgba(0,0,0,0.75);
      -moz-box-shadow: 0px 0px 40px 0px rgba(0,0,0,0.75);
      box-shadow: 0px 0px 40px 0px rgba(0,0,0,0.75);
    }

  .circle-two{
    height: 220px;
    width: 220px;
    border-radius: 100%;
    position: absolute;
    top: -10%;
    left: 5%;
    border:1px solid rgb(48, 129, 113);
  }

  .titre-registe{
    margin: 0 auto;
    width: 100%;
    text-align: center;
    position: absolute;
    top: 5%;
  }

  .titre-registe h1{
    text-transform: uppercase;
    color: #43C6AC;
    font-family: 'Monoton', cursive;
    font-size: 3em;
    margin-bottom: 0;
  }

  .titre-registe h4{
    margin: 0;
    font-size: 22px;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: rgb(235, 233, 233);
  }


  ion-item, ion-list{
    border:none !important;
  }
  .buttons{
    width: auto;
    margin: auto;
    text-align: center;
  }

  .buttons button{
    padding: 25px 50px;
    border-radius: 50px;
    text-transform: uppercase;
    font-weight: lighter;
    letter-spacing: 1.5px;
    background: -moz-linear-gradient(45deg,  rgba(22,25,84,0.65) 0%, rgba(67,198,172,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg,  rgba(22,25,84,0.65) 0%,rgba(67,198,172,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg,  rgba(22,25,84,0.65) 0%,rgba(67,198,172,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6161954', endColorstr='#b843c6ac',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

  }

  .inputs{
    width: 80%;
    margin: auto;
    text-align: center;
  }

  .inputs ion-item{
    background: #0d1d38;
    border-bottom: 1px solid #fff !important;
  }

  .inputs ion-input{
    background: transparent;
    border-bottom: none !important;
    color: #fff;
    font-family: Montserrat;
    margin-left: 20px;
  }

  .item-inner{
    border: none !important;
  }

  .item-md.item-input.ng-invalid.ng-touched:not(.input-has-focus):not(.item-input-has-focus) .item-inner {
    border: none;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.item-md.item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner, .item-md.item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner {
    border: none;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}
}
