page-home {
  #login-page{
    background: #0d1d38;
  }
    @import url('https://fonts.googleapis.com/css?family=Kaushan+Script');
    @import url('https://fonts.googleapis.com/css?family=Montserrat');
    @import url('https://fonts.googleapis.com/css?family=Monoton');
    $primary-gradient-color-1: rgba(242,189,242,1);
    $secondary-gradient-color-2: rgba(140,218,237,1);
    .circle-one{
      height: 300px;
      width: 300px;
      background: linear-gradient(135deg, rgba(22,25,84,1) 0%,rgba(67,198,172,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#161954', endColorstr='#43c6ac',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
      border-radius: 100%;
      position: relative;
      top: -20%;
      left: -15%;
      -webkit-box-shadow: 0px 0px 40px 0px rgba(0,0,0,0.75);
      -moz-box-shadow: 0px 0px 40px 0px rgba(0,0,0,0.75);
      box-shadow: 0px 0px 40px 0px rgba(0,0,0,0.75);
    }

    .circle-two{
      height: 200px;
      width: 200px;
      border-radius: 100%;
      position: absolute;
      top: -5%;
      left: 15%;
      &:before {
    position: absolute;
    content: "";
    width: 104%;
    height: 104%;
    top: -2%;
    left: -2%;
    background-color: white;
    border-radius: 50%;
    z-index: -1;
  }

  &:after {
    position: absolute;
    content: "";
    width: 106%;
    height: 106%;
    top: -3%;
    left: -3%;
    background-color: $primary-gradient-color-1;
    background-image: linear-gradient(to right bottom, $primary-gradient-color-1 0%, $secondary-gradient-color-2 100%);
    border-radius: 50%;
    z-index: -2;
    }
  }

  .circle-tree{
    height: 30px;
    width: 30px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#43c6ac+0,161954+100 */
background: rgb(67,198,172); /* Old browsers */
background: -moz-linear-gradient(-45deg, rgba(67,198,172,1) 0%, rgba(22,25,84,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg, rgba(67,198,172,1) 0%,rgba(22,25,84,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg, rgba(67,198,172,1) 0%,rgba(22,25,84,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#43c6ac', endColorstr='#161954',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    border-radius: 100%;
    position: absolute;
    top: 10%;
    left: 10%;
  }
  .circle-four{
    height: 100px;
    width: 100px;
    background: linear-gradient(135deg, rgba(22,25,84,1) 1%,rgba(67,198,172,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#161954', endColorstr='#43c6ac',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    border-radius: 100%;
    position: absolute;
    top: -5%;
    left: -5%;
    -webkit-box-shadow: 0px 0px 40px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 40px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 40px 0px rgba(0,0,0,0.75);
  }

  .titre-registe{
    margin: 0 auto;
    width: 100%;
    text-align: center;
    position: absolute;
    top: 10%;
  }

  .titre-registe h1{
    text-transform: uppercase;
    color: #43C6AC;
    font-family: 'Monoton', cursive;
    font-size: 3em;
  }

  .titre-registe h4{
    margin: 0;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: #CCC;
  }


  ion-item, ion-list{
    border:none !important;
  }
  .buttons{
    width: auto;
    margin: auto;
    text-align: center;
  }

  .buttons button{
    padding: 20px 70px;
    border-radius: 50px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    background: -moz-linear-gradient(45deg,  rgba(22,25,84,0.65) 0%, rgba(67,198,172,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg,  rgba(22,25,84,0.65) 0%,rgba(67,198,172,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg,  rgba(22,25,84,0.65) 0%,rgba(67,198,172,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6161954', endColorstr='#b843c6ac',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

  }

  .inputs{
    width: 80%;
    margin: auto;
    text-align: center;
  }
}
