@import url('https://fonts.googleapis.com/css?family=Kaushan+Script');

.login-container > .header {
    -webkit-flex: 4;
    padding-top: 20px;
}

ion-list ion-item{
    margin-bottom: 30px !important;
}
::-webkit-scrollbar,
*::-webkit-scrollbar {
  display: none;
}

.page-name{
    font-family: 'Kaushan Script', cursive;
    font-size: 16px !important
}