page-welcome {
  @font-face {
    font-family: 'voiceInMyHead';
    src: url("../assets/fonts/Voice In My Head.otf") format("otf");
  }
  @import url('https://fonts.googleapis.com/css?family=Monoton');
    .ion-page{
      position: fixed !important;
    }

    .scroll-content{
background: linear-gradient(135deg, rgba(13, 12, 58, 0.856) 50%,rgba(67,198,172,0.5) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#161454', endColorstr='#8043c6ac',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    }
    #welcome{
      background: url('../assets/imgs/login_cover.png');
      background-origin: border-box;
      background-size: cover ;
      background-position: 30%;
      background-repeat: no-repeat;
      text-align: center;
    }

    #welcome h1{
      text-transform: uppercase;
      color: #43C6AC;
      font-family: 'voiceInMyHead';
      font-size: 3em;
      margin: 20% 0 0 0
    }

    h2{
      text-transform: uppercase;
      color: #fff;
      font-weight: 400;
      letter-spacing: 8px;
      font-size: 18px;
      margin: 0
    }

    .message{
      width: 60%;
      margin: 5% auto;
    }

    .message h5{
      color: #fff;
      font-weight: 300;
      letter-spacing: 2px;
      margin: 0;
    }

    .message p{
      line-height: 20px;
      margin: 10px 0;
      color: #ddd;
      font-size: 12px;
      font-weight: 500;
      letter-spacing: 4px;
    }

    .buttons{
      margin-top: 15%;
    }

    .buttons button{
      padding: 20px 70px;
      border-radius: 50px;
      text-transform: uppercase;
      color: #161954;
      -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
      -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
      box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    }

    .buttons button:hover{
      -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
      -moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
      box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
      background: #161930;
      color: #ddd
    }

    .buttons p{
      color: #fff;
    }

    .buttons p a{
      color: #fff;
      font-size: 1em
    }
  }
