page-new-event {
  @import url('https://fonts.googleapis.com/css?family=Montserrat');
  @import url('https://fonts.googleapis.com/css?family=Baloo+Chettan');
  *{
    box-sizing: border-box;
  }
  #new-event{
    height: 100%;
    width: 100%;
    text-align: center;
  }
  .background{
    font-family: 'Baloo Chettan', cursive;
    height: 65%;
    width: 150%;
    margin-top:  -20%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 100%;
    position: fixed;
    right: -25%;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#161965+0,43c6ac+100 */
    background: rgb(22,25,101); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(22,25,101,1) 0%, rgba(67,198,172,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(22,25,101,1) 0%,rgba(67,198,172,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(22,25,101,1) 0%,rgba(67,198,172,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#161965', endColorstr='#43c6ac',GradientType=0 ); /* IE6-9 */
  }


  .welcome-msg{
    position: fixed;
    width: 100%;
    text-align: center;
    bottom: 5%;

  }

  .welcome-msg h3{
    font-size: 24px;
    font-family: 'Baloo Chettan', cursive;
    color: #444
  }

  .welcome-msg p{
    font-weight: lighter;
    padding: 5px 10px;
  }

  .marginTop{
    margin-top: 80px;
  }
  .login100-form-btn {
    font-family: 'Baloo Chettan', cursive;
    font-size: 15px;
    line-height: 1.5;
    color: #fff;
    text-transform: uppercase;
    width: 80%;
    height: 50px;
    border-radius: 25px;
    background: #57b846;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 25px;
    margin: 20px auto;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
  }
  .signup{
    background:#43c6ac;
  }

  .login100-form-btn:hover {
    background: #333333;
  }


  .menu-btn{
    background: transparent !important;
  }
  .menu-btn ion-icon{
    color: white !important;
  }
}
