page-events {
    ion-col {
      padding: 0;
    }

    .menu-btn, .search-btn{
      background: transparent !important;
      box-shadow: none;
    }
    .search-btn{
      float: right
    }
    ion-icon{
      color: #fff !important;
    }

    .toolbar-background{
      background-color: #0d1d38
    }

    .toolbar-title, .page-name{
      color: #fff;
      width: 100%;
      text-align: center;
      overflow: visible
    }

    .event-menu{
      box-shadow: 0px 10px 12px -5px rgba(0,0,0,0.5);
      text-align: center;
      padding: 10px auto;
    }

    .event-menu .list-menu{
      background: #46c6ac;
      border-radius: 20px;
      padding: 10px 5px;
      margin: 5px 0;
    }

    .event-menu .list-menu ion-col:nth-child(2){
      border-left: 1px solid rgba(255, 255, 255, 0.658);
      border-right: 1px solid rgba(255, 255, 255, 0.658);
    }

    .event-menu .list-menu a{
      color: #fff;
      text-decoration: none;
      text-transform: uppercase;
      font-weight: 500;
      padding: 5px 15px;
      font-size: 10px
    }

    .event-menu .list-menu a.active{
      background: #0d1d38;
      border-radius: 20px;
    }

    .card-event{
      height: 100px;
      margin: 20px 5px;
      border-top-right-radius: 30px;
      border-bottom-left-radius: 30px;
      background-size: cover;
      background-repeat: no-repeat;
      text-align: center;
      padding-bottom: 30px;
      position: relative;
      box-shadow: 0px 10px 15px 1px rgba(0,0,0,0.2);
    }

    .card-event .filter{
      height: 100px;
      width: 100%;
      background: linear-gradient(to right, rgba(22,25,84,0.7) 0%,rgba(70,198,172,0.5) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c4161954', endColorstr='#0046c6ac',GradientType=1 );
      border-top-right-radius: 30px;
      border-bottom-left-radius: 30px;
    }

    .card-event .event-info{
      margin-left: 1%;
      text-align: center;
      display: inline-block;
      margin-right: 40px;
      margin-top: 15px;
    }

    .card-event .event-info .event-name{
      color: #fff;
      text-transform: uppercase;
      letter-spacing: 1px;
      font-size: 14px;
      width: 100px;
      font-weight: 800;
      margin: 5px auto 0 auto; 
    }

    .card-event .event-info .event-dt{
      word-wrap: break-word;
      padding: 5px 5px;
      background: #0d1d38;
      color: #46c6ac;
      border-radius: 30px;
      font-size: 8px;
      width: 150px;
      height: 20px;
      margin: 5px 0 0 0;
    }



    .card-event .event-info .event-cat{
      font-size: 12px;
      margin: 5px 0 0 0;
      color: #fff;
      font-weight: 500;
    }

    .card-event .event-date{
      float: right;
    }

    .card-event .event-date ion-img{
      position: absolute;
      top: -6%;
      right: 10%;
      background: transparent;
      width: 50px;
      height: 50px;
    }

    .card-event .event-date h5{
      color: #fff;
      position: absolute;
      top:-3%;
      font-size: 10px;
      right: 16%;
    }


  }